@font-face {
    font-family: ocraextended;
    src: url(ocraextended.ttf);
}
a {
    color:#cf5f03;
}
a:hover {
    color:#968859;
}

p:last-child {
    margin-bottom: 0.0rem;
}

.navigation {
    background:#ebebeb;
    border-bottom:.1rem solid #3f3f3f;
    display:block;
    max-width:100%;
    width:100%;
}
.navigation .container {
    padding-bottom:0;
    padding-top:0
}
.navigation .navigation-list {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.navigation .navigation-item {
    padding: 1rem;
    margin: 0;
}
h1 .img {
    fill:#9b4dca;
    height:3.6rem;
    position:relative;
    margin-right: 0.5rem;
}
.navigation .navigation-title,
.navigation .title {
  color:#030303;
  font-family: ocraextended, sans-serif;
  position:relative
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display:inline;
  font-size:2.5rem;
  line-height:5.2rem;
  padding:0;
  text-decoration:none
}
.navigation .title:hover {
    color:#854000;
}
.navigation .navigation-link.active {
  color:#c5b2a6
}

.lead {
    font-size: 2.0rem;
}

